<div class="main pt-3">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-4 left-bar">
              <ul class="list-group rounded-0" id="customer-details">
                  <li class="list-group-item px-3 row d-flex justify-content-between align-items-center">
                      <div class="col-xs-9">
                          <h4 class="product-header m-0">Upcomming Activities</h4>
                      </div>
                      <div class="col-xs-2">
                          <button class="btn plus-icon" (click)="openModal(template)">
                                  <i class="fa fa-plus"></i>
                          </button>
                      </div>
                      
                  </li>
                  <!-- <li class="list-group-item row d-flex justify-content-between align-items-center"> -->
                    <li class="list-group-item row d-flex justify-content-between align-items-center" *ngFor="let data of tempArr; let i = index" >

                      <!-- <div class="col-sm-8">
                          <div class="product-details">
                              <h5>{{data.fname}}</h5>
                              <small>
                                  <span>{{data.date}} </span>
                                  <span class="devide">|</span>
                                  <span>{{data.nname}}</span>
                              </small>
                          </div>
                      </div>
                      <div class="col-sm-2">
                        <span class="mark-icon" *ngIf="!data.tick"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>

                      </div>
                      <div class="col-sm-2">
                          <div class="product-options d-flex justify-content-end align-items-center" dropdown>

                              <a id="button-basic" dropdownToggle type="button" class="dropdown-toggle" aria-controls="dropdown-basic">
                                <i class="fa fa-ellipsis-v"></i>
                              </a>
                              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                  role="menu" aria-labelledby="button-basic">
                                <li role="menuitem"><a class="dropdown-item" (click)="markDone(data, i)">Mark as Done</a></li>
                                <li role="menuitem"><a class="dropdown-item" (click)="deleteRow(i)">Delete</a></li>
                              </ul>

                          </div>
                      </div> -->

                      <div class="col-xs-8">
                        <div class="product-details">
                            <h5>{{data.fname}}</h5>
                            <small>
                              <span>{{data.date}} </span>
                              <span class="devide">|</span>
                              <span>{{data.nname}}</span>
                            </small>
                        </div>
                    </div>
                    <div class="col-xs-2">
                      <span class="mark-icon" *ngIf="!data.tick"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-xs-2">
                        <!-- <div class="product-options d-flex justify-content-end align-items-center" dropdown>
                            <a id="button-basic" dropdownToggle type="button" class="dropdown-toggle" aria-controls="dropdown-basic">
                              <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                role="menu" aria-labelledby="button-basic">
                              <li role="menuitem"><a class="dropdown-item" (click)="markDone(data, i)">Mark as Done</a></li>
                              <li role="menuitem"><a class="dropdown-item" (click)="deleteRow(i)">Delete</a></li>
                            </ul>

                        </div> -->
                        <div class=" product-options" dropdown placement="bottom right">
                          <a id="button-alignment" dropdownToggle type="button"
                                  class="dropdown-toggle" aria-controls="dropdown-alignment">
                                  <i class="fa fa-ellipsis-v"></i>
                        </a>
                          <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                              role="menu" aria-labelledby="button-alignment">
                              <li role="menuitem"><a class="dropdown-item" (click)="markDone(data, i)">Mark as Done</a></li>
                              <li role="menuitem"><a class="dropdown-item" (click)="deleteRow(i)">Delete</a></li>
                          </ul>
                        </div>
                    </div>
                  </li>
                  
                </ul>
          </div>
          <div class="col-sm-8">
            
          </div>
      </div>
  </div>
</div>

<!-- Modal -->

<ng-template #template>
 
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel">Book Visit</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <form [formGroup]="demoForm" (submit) ="submitForm()">
        <div class="floating-form">
   
          <div class="floating-label">      
            <!-- <input class="floating-input" type="text" onclick="(this.type='date')" > -->
            <input class="floating-input" type="date" id="date" formControlName="date">
    
            <span class="highlight"></span>
            <label>Date</label>
            </div>
            <div class="floating-label">      
                <input class="floating-input" type="text" placeholder=" " id="fname" formControlName="fname">
                <span class="highlight"></span>
                <label>Full Name</label>
            </div>
            <div class="floating-label">      
                <input class="floating-input" type="text" placeholder=" " id="nname" formControlName="nname">
                <span class="highlight"></span>
                <label>Nick Name</label>
            </div>
      
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" (click)="decline()">Close</button>
          <button type="submit" class="btn btn-submit ml-4">Save </button>
        </div>
      
      </form>
    
    </div>
</ng-template>

