/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import 'assets/variables.scss';


body {
  font-family: 'Lato', sans-serif;

  .main {
    .left-bar {
      ul.list-group {
        border: 2px solid rgba(0, 0, 0, .125);

        >li {
          border-bottom: 2px solid rgba(0, 0, 0, 0.125);
          padding: 15px 0;
          width: calc(100% - 30px);
          margin: 0 auto;
          border-right: 0;
          border-left: 0;

          .product-header {
            font-size: 22px;
            color: $primaryDark;
            // margin: 0;
          }

          .plus-icon {
            width: 45px;
            height: 45px;
            background-color: #ebebeb;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

            .fa-plus {
              font-size: 24px;
              color: $primary;
            }
          }

          &:first-child {
            width: 100%;
            border-top: none;
          }

          &:last-child {
            border: none;
          }

          .product-details {
            h5 {
              color: $secondry;
            }

            small {
              color: $fontSecondry;

              .devide {
                padding: 0 8px;
              }
            }
          }

          .mark-icon {
            .fa-check-circle-o {
              color: $primary;
              font-size: 30px;
            }
          }

          .product-options {
            .dropdown-toggle {
              cursor: pointer;

              .fa-ellipsis-v {
                color: $primaryDark;
                font-size: 30px;
              }

              &:after {
                display: none;
              }
            }


          }
        }
      }

    }
  }

  .modal {
    .modal-dialog {
      .modal-content {
        .modal-header {
          background-color: $primary;

          .modal-title {
            font-size: $fontSmall;
            color: $white;
          }

          button {
            &.close {
              color: $white;
            }

            &:focus {
              outline: 0px auto -webkit-focus-ring-color;
            }
          }

        }

        // Floating label
        .modal-body {
          padding: 35px 20px;

          @-webkit-keyframes inputHighlighter {
            from {
              background: $black;
            }

            to {
              width: 0;
              background: transparent;
            }
          }

          @-moz-keyframes inputHighlighter {
            from {
              background: $black;
            }

            to {
              width: 0;
              background: transparent;
            }
          }

          @keyframes inputHighlighter {
            from {
              background: $black;
            }

            to {
              width: 0;
              background: transparent;
            }
          }

          .floating-form {
            width: 100%;
          }

          .floating-label {
            position: relative;
            margin-bottom: 45px;
          }

          .floating-input {
            font-size: $fontSmall;
            padding: 4px 4px;
            display: block;
            width: 100%;
            height: 30px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $labelColor;

            &:focus {
              outline: none;
              border-bottom: 2px solid $black;

              ~ {
                label {
                  top: -18px;
                  font-size: $fontSmall;
                  color: $black;
                }

                .bar {
                  &:before {
                    width: 50%;
                  }

                  &:after {
                    width: 50%;
                  }
                }

                .highlight {
                  -webkit-animation: inputHighlighter 0.3s ease;
                  -moz-animation: inputHighlighter 0.3s ease;
                  animation: inputHighlighter 0.3s ease;
                }
              }
            }

            &:not(:placeholder-shown) {
              ~ {
                label {
                  top: -18px;
                  font-size: $fontSmall;
                  color: $black;
                }
              }
            }
          }

          .floating-select {
            font-size: $fontSmall;
            padding: 4px 4px;
            display: block;
            width: 100%;
            height: 30px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $labelColor;

            &:focus {
              outline: none;
              border-bottom: 2px solid $black;

              ~ {
                label {
                  top: -18px;
                  font-size: $fontSmall;
                  color: $black;
                }

                .bar {
                  &:before {
                    width: 50%;
                  }

                  &:after {
                    width: 50%;
                  }
                }

                .highlight {
                  -webkit-animation: inputHighlighter 0.3s ease;
                  -moz-animation: inputHighlighter 0.3s ease;
                  animation: inputHighlighter 0.3s ease;
                }
              }
            }

            &:not([value=""]) {
              &:valid {
                ~ {
                  label {
                    top: -18px;
                    font-size: $fontSmall;
                    color: $black;
                  }
                }
              }
            }
          }

          label {
            color: $labelColor;
            font-size: $fontSmall;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 5px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
          }

          * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            &:before {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            }

            &:after {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            }
          }

          .floating-textarea {
            min-height: 30px;
            max-height: 260px;
            overflow: hidden;
            overflow-x: hidden;
          }

          .highlight {
            position: absolute;
            height: 50%;
            width: 100%;
            top: 15%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
          }


        }

        .modal-footer {
          border: none;
          padding: 2rem 0 0 0;

          .btn {
            font-size: $fontSmall;
          }

          .btn-cancel {
            color: $primaryDark;
            background-color: $white;
            border: 1px solid $primaryDark;
          }

          .btn-submit {
            background-color: $primaryDark;
            color: $white;
          }
        }


      }
    }
  }
}

.dropdown-menu {
  padding: 0;

  .dropdown-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    &:last-child {
      border: none;
    }
  }
}
